
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thank You - Grocefy Online</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fff;
            text-align: center;
        }

     
    </style>
</head>
<body>
    <div class="thank-you-message">
        <h2>Thank you for your message!</h2>
        <p>We've received it and are on it. Expect to hear back within the next 24 hours.</p>
        <p>
            Best,<br>
            Grociefy Online
        </p>
    </div>
</body>
</html>

