@{
    ViewBag.Title = "Grocefy Online";
}

<html>
<head></head>
<body>
    <br />
    <br />
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 form-group">
            <h1 style="text-align: center; color: #96b416; font-weight:700">WELCOME TO GROCEFY ONLINE!</h1>
            <h3 style="text-align: center; color: #96b416; font-weight:700">WE DELIVER RIGHT TO YOUR DOORSTEP</h3>
            <p style=" text-align: center;color: #96b416;font-weight:700">Discover a world of convenience at  Grocefy Online. Shop fresh, shop smart, and let us bring the best to your doorstep. Experience hassle-free shopping, top-quality products, and unbeatable convenience. Join us on a journey to simplify your life, one click at a time.</p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 form-group">
            <img src="~/images/Home Page Image 2.jpg" class="img-fluid" alt="Image" style="width:100%">
        </div>
    </div>
    <br />

</body>
</html>